---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Nasıl yapılır:] Test Sonuçları yayımlayın ve analiz edilsin mi? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System, proje ilerledikçe projenin kod kalitesindeki değişiklikleri grafik yapmanızı sağlar. Bu video, publ ile ilgili yönergeler sağlar...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641192"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Nasıl yapılır:] Test Sonuçları yayımlayın ve analiz edilsin mi?

, [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System, proje ilerledikçe projenin kod kalitesindeki değişiklikleri grafik yapmanızı sağlar. Bu videoda, test sonuçlarının Team Foundation Server proje veritabanına nasıl yayımlanacağı ve sonuçların bir yapı numarasıyla ilişkilendirilmesi hakkında yönergeler verilmektedir. Sonuçlar yayımlandıktan sonra, yapı testi sonuçlarımızda bulunan değişikliklerin grafik temsilini görüntülemek için Rapor Yöneticisi kullanabiliriz.

[&#9654;Videoyu izleyin (7 dakika)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Önceki](how-do-i-use-generic-tests.md)
> [İleri](how-do-i-discover-application-changes-prior-to-deployment.md)
