---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Bunu nasıl yaparım:] Yayımlama ve Test sonuçlarını Çözümle? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System, bir projenin kod kalitesini grafik değişikliklere Proje ilerledikçe sağlar. Bu videoda publ. hakkında yönergeler sağlar...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: 0f1119340e4464720cfd16d0ff15764746ea1fea
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 04/17/2019
ms.locfileid: "59413509"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Bunu nasıl yaparım:] Yayımlama ve Test sonuçlarını Çözümle?

tarafından [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System, bir projenin kod kalitesini grafik değişikliklere Proje ilerledikçe sağlar. Bu videoda, test sonuçlarını Team Foundation Server Proje veritabanında yayımlamak ve sonuçları bir derleme numarası ile ilişkilendirmek hakkında yönergeler açıklanmaktadır. Sonuçları yayımlandıktan sonra Rapor Yöneticisi'ni değişiklikleri grafik gösterimi içinde derleme test sonuçları görüntülemek için kullanabiliriz olduğunu görüyoruz.

[&#9654;(7 dakika) videosunu izleyin](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Önceki](how-do-i-use-generic-tests.md)
> [İleri](how-do-i-discover-application-changes-prior-to-deployment.md)
