---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Nasıl yapılır:] Test Sonuçları yayımlayın ve analiz edilsin mi? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System, proje ilerledikçe projenin kod kalitesindeki değişiklikleri grafik yapmanızı sağlar. Bu video, publ ile ilgili yönergeler sağlar...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641192"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="f94e5-105">[Nasıl yapılır:] Test Sonuçları yayımlayın ve analiz edilsin mi?</span><span class="sxs-lookup"><span data-stu-id="f94e5-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="f94e5-106">, [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="f94e5-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="f94e5-107">Visual Studio Team System, proje ilerledikçe projenin kod kalitesindeki değişiklikleri grafik yapmanızı sağlar.</span><span class="sxs-lookup"><span data-stu-id="f94e5-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="f94e5-108">Bu videoda, test sonuçlarının Team Foundation Server proje veritabanına nasıl yayımlanacağı ve sonuçların bir yapı numarasıyla ilişkilendirilmesi hakkında yönergeler verilmektedir.</span><span class="sxs-lookup"><span data-stu-id="f94e5-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="f94e5-109">Sonuçlar yayımlandıktan sonra, yapı testi sonuçlarımızda bulunan değişikliklerin grafik temsilini görüntülemek için Rapor Yöneticisi kullanabiliriz.</span><span class="sxs-lookup"><span data-stu-id="f94e5-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="f94e5-110">&#9654;Videoyu izleyin (7 dakika)</span><span class="sxs-lookup"><span data-stu-id="f94e5-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="f94e5-111">[Önceki](how-do-i-use-generic-tests.md)
> [İleri](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="f94e5-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
